on:
  push:
    branches:
    - main
    - master
    - 'release/**'

jobs:
  nodejs:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14
        registry-url: 'https://registry.npmjs.org'

    - name: Install packages
      run: yarn --frozen-lockfile
    - name: Run Setup
      run: yarn setup
    - name: Run build
      run: yarn build

    - name: After build
      if: github.ref != 'refs/heads/main' && github.ref != 'refs/heads/master'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: yarn after_build
    - name: Create Github Release and Tag
      if: github.ref != 'refs/heads/main' && github.ref != 'refs/heads/master'
      run: |
        git tag ${GITHUB_REF/refs\/heads\/release\//}.$GITHUB_RUN_NUMBER
        git push origin ${GITHUB_REF/refs\/heads\/release\//}.$GITHUB_RUN_NUMBER
    - name: deploy build to github
      uses: JamesIves/github-pages-deploy-action@4.1.4
      if: github.ref != 'refs/heads/main' && github.ref != 'refs/heads/master'
      with:
        branch: production
        folder: dist
        clean: true